.Telemetry {
  text-align: center;
  border-radius: 0px 27px 27px 27px;
  border:2px solid rgba(63, 63, 63, 0.822);
  /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.856); */
}

.Telemetry-body {
  background-color: #282c34f3;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  border-radius: 0px 25px 25px 25px;
}

.canvas {
  height: 56px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 36px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgba(242, 242, 243, 0.459);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1200ms cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -600ms;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

.widget {
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 40vw;
  background-color: rgba(8, 8, 8);
  color: white;
  border-bottom: 2px solid rgb(87, 194, 243);
}